<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :first_name, class:"form-control", placeholder:"first_name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, class:"form-control", placeholder:"last_name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"email" %>
  </div>

  <div class="form-group">
    <%= form.text_field :phone, class:"form-control", placeholder:"phone" %>
  </div>

  <div class="form-group">
    <%= form.text_field :twitter, class:"form-control", placeholder:"twitter" %>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
